/* Paso 4 - Ver detalles de la cita médica */
.step4-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 20px auto;
  }
  
  .step4-container h2 {
    font-size: 2rem;
    color: #007bff;
    margin-bottom: 20px;
  }
  
  .detalles-cita {
    width: 100%;
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 30px;
  }
  
  .detalles-cita p {
    margin: 10px 0;
    font-size: 1.1rem;
    color: #666;
  }
  
  .detalles-cita p span {
    font-weight: bold;
  }
  
  .boton-paso5 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
  
  .boton-paso5 button {
    padding: 12px 25px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .boton-paso5 button:hover {
    background-color: #0056b3;
  }
  
  .boton-paso5 button:active {
    background-color: #003f7f;
  }
  