.navbar {
    background-color: #0056b3; /* Color de fondo */
    padding: 1rem; /* Espaciado */
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}

.navbar-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-list li {
    margin: 0 15px; /* Espaciado entre enlaces */
}

.navbar-link {
    color: white; /* Color del texto */
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-link:hover,
.navbar-link.active {
    color: #ffc107; /* Color al pasar el mouse o cuando está activo */
    text-decoration: underline;
}

#titulo {
    background-color: white; /* Fondo blanco */
    color: #0056b3; /* Color del texto */
    font-size: 2.5rem; /* Tamaño del texto */
    font-weight: bold; /* Negrita */
    text-align: center; /* Centrado del texto */
    padding: 1rem; /* Espaciado interno */
    margin: 2rem 0; /* Espaciado externo */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    width: fit-content; /* Ajusta el ancho al contenido */
    margin-left: auto;
    margin-right: auto; /* Centra el elemento horizontalmente */
}
